#scene {
  position: relative;
  width: 100%;
  height: 100vh;
}

#baggrundBillede {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#fiskIda img {
  width: 300px;
  height: auto;
  position: relative;
  left: 250px;
  top: 150px;
  animation-name: animationFiskIda;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

#fiskBenjamin img {
  width: 400px;
  height: auto;
  position: relative;
  left: 800px;
  top: 50px;
  animation-name: animationFiskBenjamin;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/*Josephine*/
#fiskJosephine img {
  width: 300px;
  height: auto;
  position: relative;
  left: 1400px;
  bottom: 300px;
  animation-name: animationFiskJosephine1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

#fiskJosephine2 img {
  width: 200px;
  height: auto;
  position: relative;
  transform: scaleX(-1);
  left: 100px;
  bottom: 200px;
  animation-name: animationFiskJosephine2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/*
#fiskMathilde img {
  width: 0px;
  height: auto;
  position: relative;
  transform: scaleX(-1); KUN MÅSKE
  left: 0px;
  bottom: 0px;
  animation-name: animationFiskMathilde;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
*/

/* Animation lavet af Ida */
@keyframes animationFiskIda {
  from {
    left: -250px;
  }
  to {
    left: 2000px;
  }
}

/* Animation af Benjamin */
@keyframes animationFiskBenjamin {
  from {
    left: 2000px;
  }
  to {
    left: -500px;
  }
}

/*Animation lavet af Josephine*/
@keyframes animationFiskJosephine1 {
  from {
    left: 2500px;
  }
  to {
    left: -400px;
  }
}

@keyframes animationFiskJosephine2 {
  from {
    left: -400px;
  }
  to {
    left: 2200px;
  }
}

/*@keyframes animationFiskMathilde {
  from {
    left: px;
  }
  to {
    left: px;
  }
}*/

.carousel {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 90%;
  display: flex;
  overflow-x: auto;
  height: 350px;
}

.knapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boble img {
  height: 250px;
}

/* skal muligvis bruges senere
.boble {
  width: 250px;
  padding: 1em;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
  background-color: lightblue;
}
*/

/* test af github igen */
