/* Her kommer skrifttyper som er hentet fra GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/* Typografi */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luckiest Guy", cursive;
  margin-top: 20px;
}

/* Her kommer CSS for info box, lavet af Josephine */
h2 {
  font-size: 150px;
  text-align: center;
}

h4 {
  font-size: 100px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Baggrunden */
#scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  background: url("../images/Forsiden\ billede\ til\ VS\ Code.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Her kommer CSS for fiskene og animationer */

/* Lavet af Ida */
#fiskIda img {
  width: 300px;
  height: auto;
  position: relative;
  left: 250px;
  top: 150px;
  animation-name: animationFiskIda;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/* Lavet af Benjamin */
#fiskBenjamin img {
  width: 400px;
  height: auto;
  position: relative;
  left: 800px;
  top: 50px;
  animation-name: animationFiskBenjamin;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/* Lavet af Josephine */
#fiskJosephine img {
  width: 300px;
  height: auto;
  position: relative;
  left: 1400px;
  bottom: 300px;
  animation-name: animationFiskJosephine1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/* Lavet af Josephine */
#fiskJosephine2 img {
  width: 200px;
  height: auto;
  position: relative;
  transform: scaleX(-1);
  left: 100px;
  bottom: 400px;
  animation-name: animationFiskJosephine2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/* Lavet af Mathilde */
#fiskMathilde img {
  width: 350px;
  height: auto;
  position: relative;
  right: 30px;
  bottom: 900px;
  animation-name: animationFiskMathilde;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

/* Animation lavet af Ida */
@keyframes animationFiskIda {
  from {
    left: -250px;
  }
  to {
    left: 2000px;
  }
}

/* Animation lavet af Benjamin */
@keyframes animationFiskBenjamin {
  from {
    left: 2000px;
  }
  to {
    left: -500px;
  }
}

/* Animation lavet af Josephine */
@keyframes animationFiskJosephine1 {
  from {
    left: 2500px;
  }
  to {
    left: -400px;
  }
}

/* Animation lavet af Josephine */
@keyframes animationFiskJosephine2 {
  from {
    left: -400px;
  }
  to {
    left: 2200px;
  }
}

/* Animation lavet af Mathilde */
@keyframes animationFiskMathilde {
  from {
    right: -2200px;
  }
  to {
    right: 400px;
  }
}

/* Animation lavet af Josephine, Benjamin og Ida */
.carousel {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 90%;
  display: flex;
  overflow-x: auto;
  height: 350px;
}

.knapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boble img {
  height: 200px;
  cursor: pointer;
}

/* Her er CSS for lukke knappen (rødt kryds)*/
/* Lavet af Josephine og Ida */
button {
  position: absolute;
  left: 1330px;
  top: 10px;
  background-color: transparent;
  border: transparent;
  z-index: 5;
  cursor: pointer;
}

/* Her kommer CSS for billederne, når man trykker på en fisk */
/* Lavet af Josephine og Ida */
#ibPincetBillede {
  position: relative;
  width: 1000px;
  height: auto;
  left: 100px;
  top: 20px;
}

#ibSohalKirurgBillede {
  position: relative;
  width: 1000px;
  height: auto;
  left: -350px;
  top: 20px;
  transform: scaleX(-1);
}

#ibKlovnfiskBillede img {
  position: relative;
  width: 450px;
  height: auto;
  left: 100px;
  top: 100px;
  transform: scaleX(-1);
}

#ibKlovnfisk {
  background-color: rgba(255, 255, 255, 0.712);
  border: 0 transparent;
  border-radius: 5px;
  padding: 30px;
  max-width: 500px;
  position: relative;
  top: -250px;
  left: 800px;
  font-size: 24px;
  z-index: 10;
}

#ibGulFinnetFiskBillede img {
  position: relative;
  width: 700px;
  height: auto;
  left: 20px;
  top: 20px;
  transform: scaleX(-1);
}

#ibRævefjæsBillede img {
  position: relative;
  width: 500px;
  height: auto;
  left: 100px;
  top: 120px;
  transform: scaleX(-1);
}

/* Her kommer CSS for hvert enkelt infomations boks til siderne om fiskene */
/* Infosiden til Gulfinnet kirurg fisk og Pincet fisk */
/* Lavet af Josephine og Ida */
#infoboks {
  background-color: rgba(255, 255, 255, 0.712);
  border: 0 transparent;
  border-radius: 5px;
  padding: 30px;
  max-width: 500px;
  position: relative;
  top: -470px;
  left: 800px;
  font-size: 18px;
  z-index: 10;
}

/* Infosiden til Rævefjæs fisk */
#infoboks1 {
  background-color: rgba(255, 255, 255, 0.712);
  border: 0 transparent;
  border-radius: 5px;
  padding: 30px;
  max-width: 500px;
  position: relative;
  top: -200px;
  left: 800px;
  font-size: 24px;
  z-index: 10;
}

/* Infosiden til Sohal Kirurg fisk */
#infoboks3 {
  background-color: rgba(255, 255, 255, 0.712);
  border: 0 transparent;
  border-radius: 5px;
  padding: 30px;
  max-width: 500px;
  position: relative;
  top: -550px;
  left: 800px;
  font-size: 24px;
  z-index: 10;
}

/* Skrift størrelse i infoboks */
#infoboks h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

/* Skrift størrelse i infoboks */
#infoboks p {
  margin-top: 10px;
  font-size: 25px;
}

/* Her kommer CSS for spil billederne */
/* Lavet af Josephine og Ida */
#sPuslespil img {
  position: relative;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#sFarvelæg img {
  position: relative;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#sFindFemFejl img {
  position: relative;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#sVendespil img {
  position: relative;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.hjørneBoble img {
  position: absolute;
  width: 200px;
  height: auto;
  left: 10px;
  top: 10px;
}
